@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scheeles_green: #478800;
	--scheeles_blue: #00478A;
	--scheeles_purple: #8A0047;
	--mummy_brown: #8f4a21;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
	Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 16px;
	color: #fff;
}

* {
	box-sizing: border-box;
}

a {
	color: var();
	text-decoration: underline;
}

a:hover {
	color: var(--scheeles_green);
}

img {
	max-width: 100%;
	display: block;
}

.bookshelf span {
	transition: box-shadow 0.1s ease-in-out;
}

.bookshelf article > div:nth-child(3n+1) img:hover {
	box-shadow: 0 0 50px 25px var(--scheeles_purple);
}

.bookshelf article > div:nth-child(3n+2) img:hover {
	box-shadow: 0 0 50px 25px var(--scheeles_green);
}

.bookshelf article > div:nth-child(3n+3) img:hover {
	box-shadow: 0 0 50px 25px var(--mummy_brown);
}

